<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/home.css" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap"/>
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
  <title>Whisper</title>
</head>
<body>
  <section>
    <div class="navbar">
      <div class="logo">
        <img class="logo-img" src="./images/logo.png" alt="logo" />
        <h3 class="logo-title">Whisper</h3>
      </div>
      <div class="nav-links">
        <form action="/login" method="get">
          <button class="login">Login</button>
        </form>
        <form action="/register" method="get">
          <button class="signup">Sign Up</button>
        </form>
      </div>
    </div>
    <hr>
  </section>
  <section class="hero-sec">
    <div class="hero">
      <div>
        <img class="hero-img" src="./images/hero bg.jpg" alt="hero" />
      </div>
      <div class="hero-frame">
        <h1 class="hero-title">Whisper</h1>
        <p class="hero-desc">Share your secrets Anonymously.</p>
        <form action="/register" method="get">
          <button class="hero-btn">Get Started</button>
        </form>
      </div>
    </div>
    <div class="about">
      <h2 class="about-title">Why use Whisper?</h2>
      <p class="about-desc">With Whisper, you can connect with other users in a safe, anonymous space. Whether you're looking for advice, want to share a secret, or just need to talk to someone, Whisper is here to help.</p>
    </div>
    <div class="features">
      <div class="feature">
        <img class="feature-img" src="./images/anon.jpg" alt="anonymous" />
        <h3 class="feature-title">Stay anonymous</h3>
        <p class="feature-desc">Say what you want without the fear of judgement.</p>
      </div>
      <div class="feature">
        <img class="feature-img" src="./images/feed.jpg" alt="feedback" />
        <h3 class="feature-title">Get feedback</h3>
        <p class="feature-desc">Ask questions or share your thoughts and get honest answers.</p>
      </div>
      <div class="feature">
        <img class="feature-img" src="./images/share.png" alt="share" />
        <h3 class="feature-title">Express yourself</h3>
        <p class="feature-desc">Get things off your chest, vent, or just have fun.</p>
      </div>
    </div>
    <div class="start">
      <h2 class="start-title">Ready to start whispering?</h2>
      <form action="/register" method="get">
        <button class="hero-btn">Get Started</button>
      </form>
    </div>
  </section>
</body>
</html>