<%- include('./partials/header') %>


<div class="centered">
  <div class="card text-bg-info border-warning">
    <i class="fas fa-key fa-6x"></i>
    <div class="card-header">
      <h1 class="display-3">Silent Stories</h1>
    </div>
    <h3 class="display-6">Share your stories anonymously!</h3>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('./partials/footer') %>