<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/register.css">
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap"/>
  <title>Whisper</title>
</head>
<body>
  <section class="signup-page">
    <div class="signup-google">
      <h2 class="welcome-title">Welcome to Whisper</h2>
      <p class="welcome-desc">You can use Whisper to share your thoughts, feelings, and experiences with others. You can share secrets anonymously, and you can also listen to other people's secrets. It's a place where you can be yourself, without being judged.</p>
      <form action="/auth/google" method="post">
        <button type="submit" class="google-btn">Signup with google</button>
      </form>
    </div>
    <div class="signup-divider">
      <div class="signup-divider-line"></div>
      <p class="signup-divider-text">Or</p>
      <div class="signup-divider-line"></div>
    </div>
    <div class="signup-manual">
      <form action="/register" class="signup-form" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-input" name="username" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-input" name="password" placeholder="Password">
        </div>
        <button type="submit" class="register-btn">Register</button>
        <p class="signup-desc">By signing up, you agree to our Terms of Service and Privacy Policy</p>
      </form>
    </div>
  </section>
</body>
</html>