<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/home.css">
  <link rel="stylesheet" href="./css/secrets.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap"/>
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
  <title>Whisper</title>
</head>
<body>
  <section>
    <div class="navbar">
      <div class="logo">
        <img class="logo-img" src="./images/logo.png" alt="logo" />
        <h3 class="logo-title">Whisper</h3>
      </div>
    </div>
    <hr>
  </section>
  <section class="secrets-render">
    <div class="secret-block">
      <div class="header">
        <h2 class="heading">Latest Secrets</h2>
        <form action="/submit" method="get">
          <button type="submit" class="new-btn">New Secret</button>
        </form>
      </div>
      <div class="secret-list">
        <% usersWithSecrets.forEach(user => { %>
          <div class="secret-items">
            <p class="secret-text"> <%= user.secret %> </p>
          </div>
        <% }) %>
      </div>
    </div>
  </section>
</body>
</html>