<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/home.css" >
  <link rel="stylesheet" href="./css/submit.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap"/>
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
  <title>Whisssper</title>
</head>
<body>
  <section>
    <div class="navbar">
      <div class="logo">
        <img class="logo-img" src="./images/logo.png" alt="logo" />
        <h3 class="logo-title">Whisssper</h3>
      </div>
      <div class="nav-links">
        <form action="/logout" method="get">
          <button class="login">Log out</button>
        </form>
      </div>
    </div>
    <hr>
  </section>
  <section class="create-block">
    <div class="create">
      <h2 class="create-title">Create a Whisssper</h2>
      <form action="/submit" method="post">
        <textarea class="create-input" name="secret" placeholder="What's on your mind?" required></textarea>
        <p class="limit">You have 200 characters remaining.</p>
        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </div>
  </section>
</body>
</html>


<!-- <div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Silent Stories</h1>
    <p class="secret-text">Don't keep your stories, share them anonymously!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your story?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div> -->
