body {
  background-color: #141414;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 95%;
  padding-left: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-img {
  width: 2rem;
  height: 2rem;
}
.logo-title {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.nav-links {
  display: flex;
  gap: 1rem;
}
.login, .signup, .hero-btn {
  width: 6rem;
  height: 3rem;
  border-radius: 0.8rem;
  background-color: #38E077;
  border: none;
  color: #141414;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.login:hover {
  background-color: #2f9e6e;
  cursor: pointer;
}
.signup {
  background-color: #292929;
  color: #fff;
}
.signup:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #141414;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.signup a {
  color: #fff;
}
hr {
  border: 1px solid #3a3a3a;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 5rem;
  position: fixed;
}
.hero-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  gap: 3.5rem;
}
.hero-img {
  width: 70rem;
  height: 34rem;
  border-radius: 1rem;
}
.hero-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  z-index: 1;
  position: absolute;
  top: 22rem;
  left: 38%;
}
.hero-title {
  font-size: 3.5rem;
  color: #fff;
  font-family: Inter;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.hero-desc {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.hero-frame .hero-btn {
  width: 10rem;
  margin-top: 2rem;
}
.hero-btn:hover {
  background-color: #2f9e6e;
  cursor: pointer;
}
.about {
  width: 70rem;
}
.about-title {
  font-size: 2.7rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 0;
}
.about-desc {
  width: 53rem;
  text-align: justify;
  line-height: 1.9rem;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
.features {
  width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.feature-img {
  width: 22rem;
  height: 18rem;
  border-radius: 1rem;
}
.feature-title {
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.feature-desc {
  width: 22rem;
  font-size: 1rem;
  color: #b3b3b3;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.start-title {
  font-size: 2.7rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  margin: 0;
}
.start .hero-btn {
  width: 10rem;
}
.start .hero-btn:hover {
  background-color: #2f9e6e;
}