.secrets-render {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secret-block {
    padding-top: 5rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading {
    font-size: 2.3rem;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
}
.new-btn {
    width: 8rem;
    height: 3rem;
    border-radius: 0.8rem;
    background-color: #38E077;
    border: none;
    color: #141414;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}
.new-btn:hover {
    background-color: #2f9e6e;
    cursor: pointer;
}
.secret-list {
    padding-top: 1rem;
}
.secret-items {
    background-color: #292929;
    width: fit-content;
    padding: 0.1rem 0.9rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px #2f9e6e;
}
.secret-items:hover {
    background-color: #1f1f1f;
    cursor: grab;
}
.secret-text {
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 500;
}