
body {
  background-color: #C683D7;
}

.centered {
  padding-top: 10rem;  
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
a {
  margin-bottom: 1rem;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.card {
  padding: 2rem;
}